*, *::before, *:after{
    box-sizing : border-box;
}

body{
    margin :0;
    background: darkcyan;
}
.calculator-body{
    background:aqua ;
    display: grid;
    margin-top: 5rem;
    grid-template-columns: repeat(4,8rem);
    grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
    justify-content: center;
}

.span-2{
    grid-column: span 2;
}

.output{
    background: cornflowerblue;
    grid-column: 1 / -1;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    padding: .75rem;
    word-wrap: break-word;
    word-break: break-all;
}
.output .prevNumber{
    background: black;
    font-size: 1.5rem;
    color: white;

}

.output .currentNumber{
    background: white;
    font-size: 2.5rem;
    color: black;

}
.calculator-body > button{
    font-size: 2rem;
    background: white;
    cursor: pointer;
    border: 1px solid green;
}
.calculator-body > button:hover,
.calculator-body > button:focus{
    background: grey;
}



